.header_outerWrap {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  backdrop-filter: blur(5px);
  transition: background 0.5s, backdrop-filter 0.5s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  margin: 0 auto;
  padding: 0 15px;
  overflow-x: hidden;
}
.header_outerWrap .left_navItem_wrap,
.header_outerWrap .right_navItem_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_outerWrap .left_navItem_wrap .navItem,
.header_outerWrap .right_navItem_wrap .navItem {
  list-style: none;
  padding: 0 8px;
  white-space: nowrap;
}
.header_outerWrap .left_navItem_wrap .navItem .navLink,
.header_outerWrap .right_navItem_wrap .navItem .navLink {
  text-decoration: none;
  color: #fff;
}
.header_outerWrap .left_navItem_wrap .navItem .netflix_logo,
.header_outerWrap .right_navItem_wrap.navItem .netflix_logo {
  width: 100px;
  height: auto;
}

.left_navItem_wrap .navItem:not(:nth-child(1)) {
  display: none !important;
}
@media (min-width: 768px) {
  .left_navItem_wrap .navItem:not(:nth-child(1)) {
    display: block !important;
  }
}
@media (min-width: 992px) {
  .header_outerWrap {
    padding: 0 10vh;
  }
}
.header_outerWrap .scrolled {
  background: rgba(0, 0, 0, 1);
  backdrop-filter: none;
}
