.banner {
  margin-top: 10vh;
  margin-bottom: -80px;
  height: 80vh;
  color: white;
  object-fit: contain;
}
.banner .banner_contents {
  margin-left: 30px;
  padding-top: 300px;
  /* height: 190Px; */
}

.banner .banner_contents .banner_title {
  font-size: 3rem;
  font-weight: 800;
  padding: bottom 0.3rem;
}
.banner .banner_contents .banner_description {
  width: 45rem;
  line-height: 1;
  padding: 1rem 0;
  font-size: 1rem;
  max-width: 360px;
  height: 80px;
}
.banner-btns {
  display: flex;
  align-items: center;
}

.banner_btn {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 0.2vw;
  padding: 1rem 3rem;
  margin-right: 2rem;
  background-color: rgba(51, 51, 51, 0.5);
}
.play {
  color: #000;
  background-color: #fff;
}
span {
  display: flex;
  align-items: center;
}
.playIcon {
  margin-right: 10px;
}
.morInfoIcon {
  display: flex;
  align-items: center;
}
.morInfoIcon span {
  margin-left: 10px;
}

.banner_btn:hover {
  color: #000;
  background-color: #c6c6c6;
  transition: all 0.2s linear;
}
.banner_fadeBottom {
  height: 41vh;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgb(37, 37, 37, 0.91),
    #111
  );
}
